<div class="bundle-card-line{% if extra.page is defined %} page-{{ extra.page }}{% endif %}">
    <div class="bundle-card-line-data">
        <div class="col-sm-8 col-md-9 col-lg-10 bundle-card-line-content">
            <h2>
                <a href="https://packagist.org/packages/{{ ez_field_value(content, 'bundle_id') }}" title="See on Packagist.org">{{ ez_render_field(content, 'bundle_id') }}</a>
            </h2>
            <div class="bundle-card-line-description">
                {{ ez_render_field(content, 'description') }}
            </div>
        </div>
        <div class="col-sm-4 col-md-3 col-lg-2 bundle-card-line-author">
            <div class="bundle-card-line-author-container">
                {% if packageDetails.author[0] is defined %}
                    <div class="bundle-card-line-author-username">{{ packageDetails.author[0].name }}</div>
                {% endif %}
                {% if packageDetails.authorAvatarUrl is defined and packageDetails.author[0].name is defined %}
                    <div class="bundle-card-line-author-photo">
                        <img src="{{ packageDetails.authorAvatarUrl }}?s=100" alt="{{ packageDetails.author[0].name }}" />
                    </div>
                {% endif %}
                {% if packageDetails.updated is defined %}
                    <div class="bundle-card-line-last-update">Updated: <span>{{ packageDetails.updated|date("d / m / Y") }}</span></div>
                {% endif %}
            </div>
        </div>
    </div>
    {% if packageDetails.maintainers is defined %}
        <div class="hidden-xs col-sm-12 bundle-card-line-contributors">
            <div class="bundle-card-line-contributors-container">
                <span>By:</span>
                    {% for maintainer in packageDetails.maintainers|slice(0, 4) %}
                        <div class="bundle-card-line-contributor">
                            <div class="bundle-card-line-contributor-photo">
                                <img src="{{ maintainer.avatarUrl }}&amp;s=40" />
                            </div>
                            <div class="bundle-card-line-contributor-username">{{ maintainer.name }}</div>
                        </div>
                    {% endfor %}
            </div>
            {% if packageDetails.maintainers|length > 4 %}
                <div class="bundle-card-line-contributors-more">
                    <a href="https://packagist.org/packages/{{ ez_field_value(content, 'bundle_id') }}" title="See on Packagist.org">+{{ packageDetails.maintainers|length - 4 }} more</a>
                </div>
            {% endif %}
        </div>
    {% endif %}
</div>
