{% extends 'pagelayout.html.twig' %}

{% block canonical %}
    {% if not ez_is_field_empty(content, 'canonical_link') %}
        <link rel="canonical" href="{{ ez_field_value(content, 'canonical_link') }}">
    {% endif %}
{% endblock %}

{% block head_scripts %}
    {% javascripts
        '@js_default'
        '@js_prism'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block head_styles %}
    {% stylesheets filter='cssrewrite'
        '@css_default'
        '@css_prism'
    %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <div class="blog-post">
        <div class="blog-post-header">
            <div class="container">
                <h1>
                    {{ ez_content_name(content) }}
                </h1>
            </div>
        </div>

        <div class="container">
            <div class="row blog-post-author">
                {{ render_esi(controller('ez_content:viewAction', {
                    'contentId': ez_field_value(content, 'author').destinationContentId,
                    'viewType': 'blog_post',
                    'params': {
                        'blog_post_date': ez_field_value(content, 'publication_date')|date('M d, Y')
                    }
                })) }}
            </div>

            <div class="blog-post-body">
                {{ ez_render_field(content, 'body') }}
            </div>

            <div class="blog-post-leave-comments">
                Leave us a comment
            </div>

            <div class="blog-post-comments">
                {{ ez_comments_render_content(content.contentInfo, {
                    'identifier': content.id,
                    'url': app.request.uri
                }) }}
            </div>
        </div>
    </div>
{% endblock %}
