{% extends '@ezdesign/pagelayout.html.twig' %}

{% block main %}
    <main class="white-background">
{% endblock %}

{% block content %}

    <div class="container article documentation-center">

        <div class="row" style="margin-bottom: 2em;">
            <div class="article-body col-md-6" style="font-size:1.25em;">
                <h1>{{ ez_content_name(content) }}</h1>
                {{ ez_render_field(content, 'intro') }}
            </div>
            <div class="col-md-5">
                <img src="{{ asset('/assets/images/study.png') }}" style="width:100%;height:auto;">
            </div>
        </div>

        <div class="row row-header">
            <div class="col-md-4 documentation-center-content">
                <div><img src="{{ asset('/assets/images/theme-content.png') }}"></div>
            </div>
            <div class="col-md-4 documentation-center-commerce">
                <div><img src="{{ asset('/assets/images/theme-commerce.png') }}"></div>
            </div>
            <div class="col-md-4 documentation-center-personalization">
                <div><img src="{{ asset('/assets/images/theme-personalization.png') }}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 documentation-center-content">
                <h3>eZ Platform</h3>
                <p>Z Platform is a tool for constructing uncompromising online experiences. Built on the Symfony framework, it allows developers to create powerful technical solutions with an intuitive interface for editors.</p>
                <p><a href="https://doc.ezplatform.com/projects/userguide/en/latest/" class="btn btn-primary">User documentation</a></p>
                <p><a href="https://doc.ezplatform.com/en/latest/" class="btn btn-primary">Developer documentation</a></p>
            </div>
            <div class="col-md-4 documentation-center-commerce">
                <h3>eZ Commerce</h3>
                <p>eZ Commerce is an add-on for eZ Platform that turns it into a high-performance e-Commerce platform with an integrated price engine, product data management, integrations to price and stock management and much more.</p>
                <p><a href="https://doc.ezplatform.com/projects/userguide/en/latest/shop_administration/shop_administration/" class="btn btn-primary">User documentation</a></p>
                <p><a href="https://doc.ezplatform.com/en/latest/guide/shop_features/shop_features/" class="btn btn-primary">Developer documentation</a></p>
            </div>
            <div class="col-md-4 documentation-center-personalization">
                <h3>eZ Personalization</h3>
                <p>eZ Personalization is a service for offering tailor-made recommendations to visitors. It can be used to serve targeted content to users based on their preferences and behavior in online stores as well as on content-driven sites.</p>
                <p><a href="https://doc.ezplatform.com/projects/userguide/en/latest/personalization/personalization/" class="btn btn-primary">User documentation</a></p>
                <p><a href="https://doc.ezplatform.com/en/latest/guide/personalization/personalization/" class="btn btn-primary">Developer documentation</a></p>
            </div>
        </div>

        <div class="row" style="margin-top: 2em;">
            <div class="article-body col-md-12" style="font-size:1em;">
                {{ ez_render_field(content, 'body') }}
            </div>
        </div>

    </div>

{% endblock %}
