<div class="bundle-card bundle-card--line{% if extra.page is defined %} page-{{ extra.page }}{% endif %}">
    <a href="{{ path(ez_route('_ezplatform_bundle_details', {'locationId': locationId })) }}" title="See bundle details">
        <div class="bundle-card__container bundle-card__container--line">
            <div class="bundle-card__header bundle-card__header--line">
                <div class="bundle-card__name">
                    {% if packageDetails.authorAvatarUrl is defined and packageDetails.author.name is defined %}
                        <div class="bundle-card__avatar">
                            <img src="{{ packageDetails.authorAvatarUrl }}?s=100" alt="{{ packageDetails.author.name }}" />
                        </div>
                        <div class="bundle-card__owner">
                            <span class="bundle-card__owner-label">Made by:</span>
                            <span class="bundle-card__owner-author">{{ packageDetails.author.name|truncate(20, true) }}</span>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="bundle-card__body bundle-card__body--line">
                <div class="bundle-card__name">
                    <h2>{{ ez_render_field(content, 'name') }}</h2>
                </div>
                <div class="bundle-card__description">
                    {{ ez_render_field(content, 'description') }}
                </div>
            </div>
        </div>
    </a>
</div>

