<section id="download">
    <h2>{{ ez_render_field(content, 'title') }}</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 col-xs-12">
                <ul class="nav nav-pills nav-justified" role="tablist">
                    {% if not ez_is_field_empty(content, 'composer_description') %}
                        <li class="nav-item">
                            <a href="#composer-option" class="nav-link active show" data-toggle="tab" role="tab">
                                <img src="{{ asset('images/composer.svg', 'ezdesign') }}" alt="Download" class="download">
                                <div class="label">Composer</div>
                            </a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a href="#ezlaunchpad-option" class="nav-link" data-toggle="tab" role="tab">
                            <img src="{{ asset('images/ez-launchpad.svg', 'ezdesign') }}" alt="eZ Launchpad" class="download">
                            <div class="label">eZ Launchpad</div>
                        </a>
                    </li>
                    {% if not ez_is_field_empty(content, 'platform_sh_description') %}
                        <li class="nav-item">
                            <a href="#platform-sh-option" class="nav-link" data-toggle="tab" role="tab">
                                <img src="{{ asset('images/platform-sh-logo.svg', 'ezdesign') }}" alt="Download" class="download">
                                <div class="label">platform.sh</div>
                            </a>
                        </li>
                    {% endif %}
                    {% if not ez_is_field_empty(content, 'download_description') %}
                        <li class="nav-item">
                            <a href="#download-option" class="nav-link" data-toggle="tab" role="tab">
                                <img src="{{ asset('images/download.svg', 'ezdesign') }}" alt="Download" class="download">
                                <div class="label">Download</div>
                            </a>
                        </li>
                    {% endif %}
                </ul>

                <div class="tab-content">
                    {% if not ez_is_field_empty(content, 'composer_description') %}
                        <div role="tabpanel" class="tab-pane active" id="composer-option">
                            <div class="details">
                                <h3>Composer</h3>
                                <div class="description text-center">
                                    {{ ez_render_field(content, 'composer_description') }}
                                </div>
                            </div>
                            <div class="launch text-center">
                                <img src="{{ asset('images/pulley-hero.svg', 'ezdesign') }}" alt="Platform.sh" class="hero">
                                <a href="//doc.ezplatform.com/en/latest/getting_started/install_using_composer/" class="btn btn-primary">Install with composer</a>
                            </div>
                        </div>
                    {% endif %}

                    {% if not ez_is_field_empty(content, 'download_description') %}
                        <div role="tabpanel" class="tab-pane" id="download-option">
                            <div class="details">
                                <h3>Download</h3>
                                <div class="description text-center">
                                    {{ ez_render_field(content, 'download_description') }}
                                </div>
                            </div>

                            <table class="table table-striped text-center download-table">
                                <thead>
                                <tr>
                                    <th>Version</th>
                                    <th>File</th>
                                    <th>Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if betas is not empty %}
                                    <tr class="beta">
                                        <th scope="row">
                                            <a href="{{ ez_field_value(betas|first, 'file') }}">{{ ez_render_field(betas|first, 'release_version') }}</a>
                                        </th>
                                        <td class="file">
                                            <a href="{{ ez_field_value(betas|first, 'file') }}">Download {{ ez_render_field(betas|first, 'release_version') }}</a>
                                        </td>
                                        <td class="date">
                                            <a href="{{ ez_field_value(betas|first, 'file') }}">
                                                <span>{{ ez_field_value(betas|first, 'release_date')|date('d M Y') }}</span>
                                            </a>
                                        </td>
                                    </tr>
                                {% endif %}

                                {% for release in releases %}
                                    <tr class="releases">
                                        <th scope="row"{% if ez_field_value(release, 'lts').bool %} class="lts"{% endif %}>
                                            <a href="{{ ez_field_value(release, 'file') }}">{{ ez_render_field(release, 'release_version') }}</a>
                                        </th>
                                        <td class="file">
                                            <a href="{{ ez_field_value(release, 'file') }}">
                                                {{ ez_field_value(release, 'file').fileName }}
                                            </a>
                                        </td>
                                        <td class="date">
                                            <a href="{{ ez_field_value(release, 'file') }}">
                                                <span>{{ ez_field_value(release, 'release_date')|date('d M Y') }}</span>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}

                                <tr class="releases ezpublish">
                                    <th colspan="3">
                                        Looking for <a href="http://share.ez.no">eZ Publish / eZ Publish Platform</a> ?
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    {% endif %}

                    {% if not ez_is_field_empty(content, 'platform_sh_description') %}
                        <div role="tabpanel" class="tab-pane" id="platform-sh-option">
                            <div class="details">
                                <h3>platform.sh</h3>
                                <div class="description text-center">
                                    {{ ez_render_field(content, 'platform_sh_description') }}
                                </div>
                            </div>

                            <div class="launch text-center">
                                <img src="{{ asset('images/platform-sh-rocket.svg', 'ezdesign') }}" alt="Platform.sh" class="rocket">
                                <a href="//accounts.platform.sh/platform/trial/ezplatform/setup?branch=demo" class="btn btn-primary">Deploy on platform.sh</a>
                            </div>
                        </div>
                    {% endif %}

                    <div role="tabpanel" class="tab-pane" id="ezlaunchpad-option">
                        <div class="details">
                            <h3>eZ Launchpad</h3>
                            {% if content.fields['launchpad_description'] is defined and not ez_is_field_empty(content, 'launchpad_description') %}
                                <div class="description text-center">
                                    {{ ez_render_field(content, 'launchpad_description') }}
                                </div>
                            {% else %}
                                <div class="description text-center">
                                    <p>eZ Launchpad requires you to have PHP (5.6+ or 7+) and Docker installed.</p>
                                    <p>You can find a full documentation here:
                                        <a href="https://ezsystems.github.io/launchpad/">https://ezsystems.github.io/launchpad/</a>
                                    </p>
                                </div>
                            {% endif %}
                        </div>
                        {% include "@ezdesign/ezlaunchpad/install.html.twig" only %}
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
