{% macro command(command) %}
    <div class="orange">
        <p>&#36; {{ command }}</p>
    </div>
{% endmacro %}

{% import _self as Helper %}

<div class="window">
    <div class="titlebar">
        <div class="buttons">
            <div class="close">
                <a class="closebutton" href="#"><span><strong>x</strong></span></a>
            </div>
            <div class="minimize">
                <a class="minimizebutton" href="#"><span><strong>&ndash;</strong></span></a>
            </div>
            <div class="zoom">
                <a class="zoombutton" href="#"><span><strong>+</strong></span></a>
            </div>
        </div>
        ezplatform@eZ-Systems: ~/www
    </div>

    <div class="content">
        {% set dbport = 3333 %}
        {% set dbpassword = 'ezplatform' %}
        {% set panel_url = 'http://127.0.0.1:8000/admin' %}

        <div class="help">
            <p># Install composer</p>
            <div class="orange">
                {{ Helper.command('curl -sS https://getcomposer.org/installer | php') }}
            </div>
        </div>

        <div class="help">
            <p># If you do not have a MySQL server ready, you can create one quickly using Docker.</p>
            <p># Note that we are using here the TCP Port <em class="green">{{ dbport }}</em> of the host and
                <em class="green">ezplatform</em> as root's password for the MariaDB server container.</p>
            {{ Helper.command('docker run -p ' ~dbport ~ ':3306 --name ezdbcontainer -e MYSQL_ROOT_PASSWORD=' ~ dbpassword ~ ' mariadb:10.2') }}
        </div>

        <div class="help">
            <p># Install eZ Platform</p>
            {{ Helper.command('php -d memory_limit=-1 composer.phar create-project ezsystems/ezplatform') }}
        </div>

        <div class="help">
            <p># Depending on your platform (i.e quick test on Mac OS X) you might get a dependency error on
                <em class="green">ext-intl</em>
            </p>
            <p># If so, just for testing you can ignore it using the option
                <em class="green">--ignore-platform-reqs</em></p>
            <p># Note that you may also need to set up correctly your date.timezone configuration for your php.</p>
            {{ Helper.command('php -d memory_limit=-1 composer.phar create-project --ignore-platform-reqs ezsystems/ezplatform') }}
        </div>

        <div class="help">
            <p># Create the database and import clean data</p>
            {{ Helper.command('php bin/console doctrine:database:create') }}
            {{ Helper.command('php bin/console ezplatform:install clean') }}
        </div>

        <div class="help">
            <p># You are now going to run eZ Platform with the built-in php server.</p>
            {{ Helper.command('php bin/console server:run') }}
        </div>

        <div class="help">
            <p># The Administration Interface will be available at the URL
                <strong><a class="green" href="{{ panel_url }}" target="_blank">{{ panel_url }}</a></strong>.
            </p>
            <p># Login: <strong class="green">admin</strong>, password: <strong class="green">publish</strong>.</p>
        </div>
    </div>
</div>
